<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/places/tabs/offers"></ion-back-button>
    </ion-buttons>
    <ion-title>Offer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row class="ion-align-items-center ion-justify-content-center">
      <ion-col size="5">Row 1 Cow 1</ion-col>
      <ion-col size="4">Row 1 Cow 2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, explicabo suscipit doloribus dolorem beatae deleniti placeat commodi rem ipsam ratione et quidem neque cum, corporis adipisci? Saepe consequuntur excepturi porro.</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
