@charset "UTF-8";

* {
    box-sizing: border-box;
}

body {
   display: grid;
   font-family: sans-serif;
   font-size: 300%;
   height: 100vh;
   place-items: center; 
}

.text-reveal {
    background-color: #fff;
}