@charset "UTF-8";

* {
    box-sizing: border-box;
}

body {
    animation: gradient 10s alternate ease infinite;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab) no-repeat;
    background-size: 300% 300%;
    font-family: sans-serif;
    display: flex;
    color: #fff;
    font-size: 200%;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;    
}

@keyframes gradient {
    from {
        background-position: 0 50%;
    }

    to {
        background-position: 100% 50%;
    }
}